body{
    margin: 30px;
    padding: 10px;
    background: grey;
}
h1{
    text-align: center;
    color: black;
    border: 3px dashed grey;
}
table{
    padding : 5px;
    margin: 10px;
    width: 50%;
    height: 20%;
    border-style: solid; 
    border-color:darkslategray;
    border-collapse: collapse;
}
th{
    background: burlywood;
}
td, th {
    padding: 15px;
    align-content: center;
    border: 1px solid black;
}